.app-container {
  @media screen and (max-width: 960px) {
    padding: min(10px, 5%);
  }
  padding: 0 max(10px, 10%);
  min-height: 100%;
  display: grid;
  grid-template-areas:
    'toolbar'
    'main';
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr;

  .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
  }
}
