<mat-sidenav-container class="h-full text-base-content">
  <mat-sidenav
    #drawer
    *ngIf="isSmall$ | async"
    class="w-10/12 max-w-sm bg-base-100"
    fixedInViewport="false"
    [attr.role]="'dialog'"
    [mode]="'over'"
    [opened]="(isSmall$ | async) === false"
  >
    <mat-nav-list>
      <app-drawer-tabs />
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-grid bg-base-100">
      <app-navbar class="breakout">
        <button
          *ngIf="isSmall$ | async; else search"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawerToggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <ng-template #search>
          <app-search-open-btn />
        </ng-template>
      </app-navbar>

      <main class="full-width">
        <ng-content></ng-content>
      </main>
      <app-footer class="full-width bg-base-200 py-10" />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
