<ng-container *ngIf="data$ | async as data">
  <button *ngIf="data.length > 0; else emptyCart" mat-icon-button (click)="toggleDialog()">
    <mat-icon [matBadge]="data.length" matBadgeColor="warn"> shopping_cart </mat-icon>
  </button>
  <ng-template #emptyCart>
    <button mat-icon-button disabled>
      <mat-icon> shopping_cart </mat-icon>
    </button>
  </ng-template>

  <dialog class="dialog" #dialogElement *ngIf="data.length > 0">
    <div class="pipa"></div>
    <span class="bock bg-white text-xl font-medium">Your bag({{ data.length }})</span>

    <cdk-virtual-scroll-viewport
      itemSize="130"
      class="cart-virtual-scroll-viewport"
      minBufferPx="131"
    >
      <app-cart-item *cdkVirtualFor="let item of data$" [item]="item" />
    </cdk-virtual-scroll-viewport>
    <div class="grid grid-cols-2 gap-4">
      <span class="col-span-2 inline-flex justify-between text-xl font-medium">
        Total:
        <span>{{ getTotalPrice(data) | currency : 'EUR' }}</span>
      </span>
      <button mat-raised-button>View Bag</button>
      <button mat-raised-button color="accent">Go To Checkout</button>
    </div>
  </dialog>
</ng-container>
