<ng-container *ngIf="data$ | async as data">
  <button
    class="btn-ghost btn-circle btn"
    [disabled]="data.length <= 0"
    cdkOverlayOrigin
    #originOverlay="cdkOverlayOrigin"
  >
    <div class="indicator">
      <app-cart-icon />
      <span *ngIf="data.length > 0" class="badge badge-secondary badge-sm indicator-item">{{
        data.length
      }}</span>
    </div>
  </button>

  <ng-template
    #overlay="cdkConnectedOverlay"
    cdkConnectedOverlay
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="originOverlay"
    [cdkConnectedOverlayOpen]="isCardOpen() && data.length > 0"
  >
    <div class="card w-96 bg-base-200 shadow-xl">
      <!--TODO: responsive-->
      <div class="card-body">
        <div class="card-title justify-between text-accent-content">
          Your bag({{ data.length }})
          <span>
            Total:
            <span class="text-accent-content">{{ getTotalPrice(data) | currency : 'EUR' }}</span>
          </span>
        </div>

        <cdk-virtual-scroll-viewport
          itemSize="130"
          class="cdk-virtual-scroll-viewport"
          minBufferPx="131"
        >
          <app-cart-item *cdkVirtualFor="let item of data" [item]="item" />
        </cdk-virtual-scroll-viewport>

        <div class="card-actions justify-end">
          <button
            *ngIf="userLevel >= 1000; else notLoggedIn"
            (click)="overlay.backdropClick.emit()"
            routerLink="/checkout"
            class="btn-accent btn"
          >
            Checkout Now
          </button>
          <ng-template #notLoggedIn>
            <!-- TODO: add link-->
            <button routerLink="/" class="btn">Please Login To Continue</button>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
