:host(app-footer) {
  @apply flex flex-col gap-8 bg-gray-300 md:flex-row md:items-center md:gap-4;
  padding: 20px 0;
  box-shadow: 0 0 0 100vmax rgb(210 214 220 / var(--tw-bg-opacity));
  clip-path: inset(0 -100vmax -100vmax -100vmax);
  margin-top: 2rem;
  .mbs-20 {
    margin-block-start: 20px;
  }

  h4 {
    margin-bottom: 0 !important;
  }
}
