<div
  #carousel
  class="carousel"
  [style.grid-template-columns]="'repeat(' + slides.length.toString() + ', 100%)'"
  [style.transform]="'translateX(-' + (activeSlideIndex() * 100).toString() + '%)'"
>
  <div *ngFor="let slide of slides; let i = index" class="slide relative">
    <img ngSrc="https://picsum.photos/200/300" fill alt="" />
    slide {{ i }}
  </div>
</div>

<mat-radio-group color="primary" class="dots">
  <mat-radio-button
    *ngFor="let slide of slides; let i = index"
    [value]="i"
    (change)="activeSlideIndex.set(i)"
    [checked]="i === activeSlideIndex()"
  ></mat-radio-button>
</mat-radio-group>
