<div class="navbar-start">
  <button
    *ngIf="showMenu; else search"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="menuClicks.emit()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <ng-template #search>
    <app-search-open-btn />
  </ng-template>
</div>
<div class="navbar-center">
  <a routerLink=""><span class="text-center text-2xl font-bold md:text-3xl">Logo</span></a>
</div>
<div class="navbar-end">
  <app-popup-cart />
  <app-account-dropdown />
</div>
