<button mat-button [matMenuTriggerFor]="menu">Account</button>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="">
    <mat-icon>person</mat-icon>
    <span>My Account</span>
  </button>
  <button mat-menu-item>
    <mat-icon class="mat-icon-outlined">shopping_bag</mat-icon>
    <span>My Orders</span>
  </button>
  <button mat-menu-item>
    <mat-icon>favorite</mat-icon>
    <span>My Favorites</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu>
