<button
  [cdkMenuTriggerFor]="menu"
  [cdkMenuPosition]="[
    {
      originX: 'end',
      originY: 'bottom',
      overlayX: 'end',
      overlayY: 'top'
    }
  ]"
  class="btn-ghost btn-circle avatar btn"
>
  <div class="w-10 rounded-full">
    <img
      ngSrc="assets/photo-1534528741775-53994a69daeb.jpg"
      height="844"
      width="844"
      alt="Profile"
    />
  </div>
</button>

<ng-template #menu>
  <ul class="menu rounded-box w-56 bg-base-200" cdkMenu>
    <li cdkMenuItem *ngIf="userIsAuthenticated | async">
      <!--todo: add link to profile -->
      <a routerLink=""><mat-icon>account_circle</mat-icon>My Account</a>
    </li>
    <!--    <li cdkMenuItem>-->
    <!--      <a routerLink=""><mat-icon>shopping_bag</mat-icon>My Orders</a>-->
    <!--    </li>-->
    <li cdkMenuItem>
      <a routerLink="/shop" [queryParams]="{ favorite: true }">
        <mat-icon>favorite</mat-icon>My Favorites
      </a>
    </li>
    <li *ngIf="userIsAuthenticated | async" cdkMenuItem>
      <a (click)="logout()"><mat-icon>logout</mat-icon>Log Out</a>
    </li>
    <li *ngIf="(userHasOwnerPermissions | async) || (userHasAdminPermissions | async)" cdkMenuItem>
      <a routerLink="/admin"><mat-icon>admin_panel_settings</mat-icon>Admin Panel</a>
    </li>
    <!--    <li *ngIf="userIsAuthenticated | async">-->
    <!--      <details>-->
    <!--        <summary><mat-icon>login</mat-icon>Permission:</summary>-->
    <!--        <ul>-->
    <!--          <li-->
    <!--            *ngIf="!(userHasAdminPermissions | async)"-->
    <!--            cdkMenuItem-->
    <!--            (click)="setPermission('admin')"-->
    <!--          >-->
    <!--            <a><mat-icon>supervisor_account</mat-icon>Add Admin</a>-->
    <!--          </li>-->
    <!--          <li-->
    <!--            *ngIf="userHasAdminPermissions | async"-->
    <!--            cdkMenuItem-->
    <!--            (click)="removePermission('admin')"-->
    <!--          >-->
    <!--            <a><mat-icon>supervisor_account</mat-icon>Remove Admin</a>-->
    <!--          </li>-->

    <!--          <li-->
    <!--            *ngIf="!(userHasOwnerPermissions | async)"-->
    <!--            cdkMenuItem-->
    <!--            (click)="setPermission('owner')"-->
    <!--          >-->
    <!--            <a><mat-icon>copyright</mat-icon>Add Owner</a>-->
    <!--          </li>-->
    <!--          <li-->
    <!--            *ngIf="userHasOwnerPermissions | async"-->
    <!--            cdkMenuItem-->
    <!--            (click)="removePermission('owner')"-->
    <!--          >-->
    <!--            <a><mat-icon>copyright</mat-icon>Remove Owner</a>-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--      </details>-->
    <!--    </li>-->
  </ul>
</ng-template>
