<form [formGroup]="paypalForm">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="paypalEmail" placeholder="Email" type="email" />
    <mat-error
      *ngIf="paypalForm.controls.paypalEmail.invalid && paypalForm.controls.paypalEmail.touched"
    >
      Please provide a valid email.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="paypalPassword"
      placeholder="Password"
      [type]="hidePassword ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Toggle ' + (hidePassword ? 'show' : 'hide') + ' password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error
      *ngIf="
        paypalForm.controls.paypalPassword.invalid && paypalForm.controls.paypalPassword.touched
      "
    >
      Please provide a password.
    </mat-error>
  </mat-form-field>
</form>
