<form
  [formGroup]="signupForm"
  (ngSubmit)="submit.next($event)"
  class="flex flex-col justify-center gap-4 px-10 py-10 lg:px-16"
>
  <div *ngIf="!!firebaseError()" class="alert alert-error text-xs">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>{{ firebaseError() }}</span>
  </div>

  <div class="form-control">
    <label class="label"><span class="label-text">Name</span></label>
    <input
      formControlName="name"
      type="text"
      placeholder="name"
      class="input-bordered input"
      [ngClass]="{
        'input-warning': nameControl.invalid && nameControl.dirty,
        'input-success': nameControl.valid
      }"
    />
  </div>

  <div class="form-control">
    <label class="label"><span class="label-text">Email</span></label>
    <input
      formControlName="email"
      type="email"
      placeholder="email"
      class="input-bordered input"
      [ngClass]="{
        'input-error': emailControl.invalid && emailControl.touched,
        'input-success': emailControl.valid
      }"
    />
  </div>

  <div class="form-control">
    <label class="label"><span class="label-text">Password</span></label>
    <input
      formControlName="password"
      type="password"
      placeholder="password"
      class="input-bordered input"
      [ngClass]="{
        'input-error': passwordControl.invalid && passwordControl.touched,
        'input-success': passwordControl.valid
      }"
    />
    <div class="label">
      <span
        *ngIf="passwordControl.invalid && passwordControl.touched"
        class="label-text-alt text-error"
      >
        <!--I dont know how to explain this to a user :")-->
        {{ '^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$' }}
      </span>
    </div>
  </div>

  <button [disabled]="signupForm.invalid" class="btn-success btn" type="submit">Signup</button>

  <app-google-auth />

  <div class="label justify-end">
    <a class="link-hover label-text-alt link" [routerLink]="['/', { outlets: { auth: 'login' } }]">
      Login to existing account
    </a>
  </div>
</form>
