<div class="card w-96 bg-base-100 shadow-xl">
  <figure>
    <img [src]="url()" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Shoes!</h2>
    <progress class="progress-primary progress w-56" value="45" max="100"></progress>
    <div class="card-actions justify-end">
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Pick a file</span>
        </label>
        <input
          [disabled]="disabled"
          #input
          (change)="onFileChange(input)"
          (blur)="onInputTouched()"
          type="file"
          class="file-input-bordered file-input w-full max-w-xs"
        />
        <label class="label">
          <span class="label-text-alt text-error">error text</span>
        </label>
      </div>
    </div>
  </div>
</div>
