<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isSmall$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmall$ | async) ? 'over' : 'side'"
    [opened]="(isSmall$ | async) === false"
  >
    <mat-nav-list>
      <app-drawer-tabs />
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-container">
      <app-navbar>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          class="justify-self-start"
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </app-navbar>

      <!-- Add Content Here -->
      <div class="main">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
