<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="max-w-lg py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
    </div>
    <div class="card w-full max-w-sm shrink-0 bg-base-100 shadow-2xl">
      <form [formGroup]="form" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            formControlName="email"
            type="email"
            placeholder="email"
            class="input-bordered input"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Roles</span>
          </label>
          <input
            formControlName="role"
            type="text"
            placeholder="roles"
            class="input-bordered input"
          />
          <label class="label">
            <span
              *ngIf="form.controls.role.invalid && form.controls.role.touched"
              class="link-hover label-text-alt link"
            >
              admin or owner are valid
            </span>
          </label>
        </div>
        <div class="form-control mt-6">
          <button
            [disabled]="form.invalid || (auth | async)"
            (click)="onSignInClicked()"
            type="submit"
            class="btn-primary btn"
          >
            {{ (auth | async) ? 'You Are Authenticated' : 'Login' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
