<div class="form-control w-full max-w-xs">
  <input
    [formControl]="chooseControl"
    type="text"
    placeholder="Enter Existing Or New ID"
    class="input-bordered input w-full pr-16 text-neutral-content"
    [ngClass]="{
      'input-error': chooseControl.errors
    }"
  />
  <label class="label">
    <span *ngIf="chooseControl.errors" class="label-text-alt text-error">
      expected an integer
    </span>
  </label>
</div>
<div *ngIf="formSig() as form" class="card">
  <figure><img src="" /></figure>

  <form [formGroup]="form" class="card-body grid grid-cols-2 gap-x-4">
    <span class="card-title text-accent-content">
      Product ID: {{ form.value.id }}
      <div *ngIf="form.value.new" class="badge badge-secondary">NEW</div>
    </span>

    <app-file-input formControlName="imgUrl" />

    <app-dui-input>
      <span class="label-text">Product Name</span>
      <input
        formControlName="name"
        type="text"
        placeholder="name"
        class="input-bordered input w-full pr-16 text-neutral-content"
        [ngClass]="{
          'input-error': form.controls.name.errors && form.touched
        }"
      />
      <span *ngIf="form.controls.name.errors && form.touched" class="label-text-alt">
        enter valid name
      </span>
    </app-dui-input>

    <app-dui-input>
      <span class="label-text">Product Price</span>
      <input
        formControlName="price"
        type="text"
        placeholder="price"
        class="input-bordered input w-full pr-16 text-neutral-content"
        [ngClass]="{
          'input-error': form.controls.price.errors && form.touched
        }"
      />
      <span *ngIf="form.controls.price.errors && form.touched" class="label-text-alt">
        enter valid price
      </span>
    </app-dui-input>

    <app-dui-input>
      <span class="label-text">Discount</span>
      <input
        formControlName="discount"
        type="text"
        placeholder="discount"
        class="input-bordered input w-full pr-16 text-neutral-content"
        [ngClass]="{
          'input-error': form.controls.discount.errors && form.touched
        }"
      />
      <span *ngIf="form.controls.discount.errors && form.touched" class="label-text-alt">
        enter integer from 0 to 100
      </span>
    </app-dui-input>

    <app-dui-input>
      <!--      todo: date pick-->
      <span class="label-text">Discount Until</span>
      <input
        formControlName="discountUntil"
        type="date"
        class="input-bordered input w-full pr-16 text-neutral-content"
        [ngClass]="{
          'input-error': form.controls.discountUntil.errors && form.touched
        }"
      />
      <span *ngIf="form.controls.discountUntil.errors && form.touched" class="label-text-alt">
        enter valid date
      </span>
    </app-dui-input>

    <app-dui-input>
      <span class="label-text">Collection</span>
      <input
        formControlName="collection"
        type="text"
        placeholder="Your Collection"
        class="input-bordered input w-full pr-16 text-neutral-content"
        [ngClass]="{
          'input-error': form.controls.collection.errors && form.touched
        }"
      />
      <span *ngIf="form.controls.collection.errors && form.touched" class="label-text-alt">
        enter valid collection
      </span>
    </app-dui-input>

    <app-dui-input>
      <span class="label-text">Colors comma separated</span>
      <input
        formControlName="colors"
        type="text"
        placeholder="Your Colors"
        class="input-bordered input w-full pr-16 text-neutral-content"
        [ngClass]="{
          'input-error': form.controls.colors.errors && form.touched
        }"
      />
      <span *ngIf="form.controls.colors.errors && form.touched" class="label-text-alt">
        enter comma separated colors
      </span>
    </app-dui-input>

    <app-dui-input>
      <span class="label-text">Sizes comma separated</span>
      <input
        formControlName="sizes"
        type="text"
        placeholder="Your Sizes"
        class="input-bordered input w-full pr-16 text-neutral-content"
        [ngClass]="{
          'input-error': form.controls.sizes.errors && form.touched
        }"
      />
      <span *ngIf="form.controls.sizes.errors && form.touched" class="label-text-alt">
        enter comma separated sizes
      </span>
    </app-dui-input>

    <label class="label cursor-pointer">
      <span class="label-text">Featured: </span>
      <input formControlName="featured" type="checkbox" class="toggle-accent toggle" />
    </label>

    <div class="form-control col-span-2">
      <label class="label">
        <span class="label-text">Description</span>
      </label>
      <textarea
        formControlName="description"
        class="textarea-bordered textarea h-24 w-full pr-16 text-neutral-content"
        [ngClass]="{
          'input-error': form.controls.description.errors && form.touched
        }"
      ></textarea>
      <span *ngIf="form.controls.description.errors && form.touched" class="label-text-alt">
        enter valid description
      </span>
    </div>
  </form>
</div>
