<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isSmall$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmall$ | async) ? 'over' : 'side'"
    [opened]="(isSmall$ | async) === false"
  >
    <mat-nav-list>
      <app-drawer-tabs />
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-shipping-add />
    <div class="app-container">
      <div class="main-toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          class="justify-self-start"
          (click)="drawer.toggle()"
          *ngIf="isSmall$ | async; else navLinks"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <a routerLink=""><span class="logo">Participle+</span></a>
        <div class="toolbar-container">
          <app-search-open-btn
            [isXSmall]="(isSmall$ | async)!"
            (click)="expansionPanelOpened.set(true)"
          />
          <app-account-dropdown *ngIf="!(isSmall$ | async)" />
          <app-popup-cart />
        </div>
      </div>
      <!-- Add Content Here -->
      <div class="expansion-panel relative" *ngIf="expansionPanelOpened()">
        <app-expansion-panel (close$)="closeExpansionPanel()" />
      </div>
      <div class="main">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #navLinks>
  <div class="toolbar-container">
    <button mat-button (click)="expansionPanelOpened.set(true)">
      {{ 'New Arrivals' }}
    </button>
    <button mat-button routerLink="">Shop</button>
    <button mat-button routerLink="about">About Us</button>
  </div>
</ng-template>
